.button-join{
    background: #227A5F;
    border-radius: 8px;
    width: 100%;
    height: 51px;
    color:#fff;
    font-weight: 600;
    font-size:18px;
    line-height: 27px;
    text-align: center;
}

.button-join:disabled {
    background: #4fe7ba;
}

.input-industry ,.input-email{
    border-radius: 8px;
    width: 100%;
    height: 51px;

}
.LoginFormComponent form{
    background-color: transparent;
    position: absolute;
    z-index: 1;
    
  
}
.form-width{
    width: 30%;

}

  
@media screen and (max-width:420px) {
    .form-width{
        width: 100%;
    }
    .LoginFormComponent form{
        position:unset;
       
    }
}
@media screen and (min-width:420px) and (max-width:524px) {
    .form-width{
        width: 100% !important;
    }
    .LoginFormComponent form{
        position:unset;
        /* top:35%;
        right: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    }
}
@media screen and (min-width:600px) and (max-width:689px) {
    .form-width{
        width: 520px;
    }
    .LoginFormComponent form{
        position:unset;
        /* top:25%;
        right: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    }
}
@media screen and (min-width:680px) and (max-width:769px) {
    .form-width{
        width: 650px;
    }
    .LoginFormComponent form{
        position:unset;
        /* top:36%;
        right: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    }
}