.eventcomponent{
    background: #fff;
    border-radius:8px; 
    padding: 24px 16px ;
    overflow-y: auto;
}

.seeAll{
    color: #227A5F;
    font-size: 16px;
font-weight: 600;
line-height: 27px;
cursor: pointer;

}
