@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dashboard-container {
    min-height: calc(100vh - 80px);
}

.sidebar {
    max-height: calc(100vh - 80px);
}

.sidebar-pages-container {
    max-height: calc(100vh - 80px);
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

button {
    transition: all .2s;
}